.App {
  text-align: center;
}

.filler-div {
  width: 100vw;
}

.about-img {
  margin-top: 5vh;
  width: 100%;
}

.content-div {
  position: absolute;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: #004d5f;
  z-index: -100;
}

.footer-div {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.footer-spacer {
  width: 10%;
}
.form-div {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  border-radius: .5vw;
  margin-top: 3vw;
  background: #006780;
  width: 100%;
  gap: 3vh;
}

.form-input {
  margin: auto;
}

 .footer {
   z-index: -100;
   position: relative;
   width: 100vw;
 }

 .error {
   color: red;
 }

 .success {
   color: lawngreen;
 }
.section-div {
  background: #004d5f;
  width: 100vw;
  display: flex;
  margin-top: 5vw;
  flex-direction: row;
}

.section-header {
  color: antiquewhite;
  font-size: 5vw;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.info-div {
  border-radius: .5vw;
  width: 100vw;
  margin-left: 2vw;
  margin-right: 2vw;
  display: flex;
  background: #006780;
  z-index: 10;
}

.welcome-info-div {
  border-radius: .5vw;
  width: 100vw;
  margin-left: 2vw;
  margin-right: 2vw;
  display: flex;
  background: #004d5f;
  z-index: 10;
}

.text-div {
  width: 100%;
  margin: .5vw;
  background: #006780;
  text-align: left;
  font-size: 2.5vw;
  color: antiquewhite;
  padding: .5vw;
}

a {
  color: antiquewhite;
}

.welcome-text-div {
  width: 100%;
  margin: .5vw;
  background: #004d5f;
  text-align: left;
  font-size: 2.5vw;
  color: antiquewhite;
  padding: .5vw;
}
